# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
QRTest/Cb2010/__history/MainUI.cpp.~1~
QRTest/Cb2010/__history/MainUI.cpp.~2~
QRTest/Cb2010/__history/MainUI.cpp.~3~
QRTest/Cb2010/__history/MainUI.cpp.~4~
QRTest/Cb2010/__history/MainUI.cpp.~5~
QRTest/Cb2010/__history/MainUI.cpp.~6~
QRTest/Cb2010/__history/MainUI.cpp.~7~
QRTest/Cb2010/__history/MainUI.dfm.~17~
QRTest/Cb2010/__history/MainUI.dfm.~18~
QRTest/Cb2010/__history/MainUI.dfm.~19~
QRTest/Cb2010/__history/MainUI.dfm.~20~
QRTest/Cb2010/__history/MainUI.dfm.~21~
QRTest/Cb2010/__history/MainUI.dfm.~22~
QRTest/Cb2010/__history/MainUI.dfm.~23~
QRTest/Cb2010/__history/MainUI.dfm.~24~
QRTest/Cb2010/__history/MainUI.dfm.~25~
QRTest/Cb2010/__history/MainUI.dfm.~26~
QRTest/Cb2010/__history/MainUI.h.~10~
QRTest/Cb2010/__history/MainUI.h.~11~
QRTest/Cb2010/__history/MainUI.h.~12~
QRTest/Cb2010/__history/MainUI.h.~13~
QRTest/Cb2010/__history/MainUI.h.~14~
QRTest/Cb2010/__history/MainUI.h.~15~
QRTest/Cb2010/__history/MainUI.h.~16~
QRTest/Cb2010/__history/MainUI.h.~7~
QRTest/Cb2010/__history/MainUI.h.~8~
QRTest/Cb2010/__history/MainUI.h.~9~
QRTest/Cb2010/__history/QR_Cb2010_Tester.cpp.~1~
QRTest/Cb2010/__history/QR_Cb2010_Tester.cpp.~2~
QRTest/Cb2010/__history/QR_Cb2010_Tester.cpp.~3~
QRTest/Cb2010/__history/QR_Cb2010_Tester.cpp.~4~
Zint/__history/Zint.cbproj.local.~1~
Zint/__history/Zint.cbproj.local.~2~
Zint/__history/Zint.cbproj.local.~3~
Zint/__history/Zint.cbproj.local.~4~
Zint/__history/Zint.cbproj.local.~5~
Zint/__history/Zint.cbproj.local.~6~
Zint/__history/Zint.cbproj.local.~7~
Zint/__history/Zint.cbproj.local.~8~
Zint/Dependencies/Libpng/__history/Libpng.cbproj.local.~1~
Zint/Dependencies/Libpng/__history/Libpng.cbproj.local.~2~
Zint/Dependencies/Libpng/__history/Libpng.cbproj.local.~3~
Zint/Dependencies/Libpng/__history/Libpng.cbproj.local.~4~
Zint/Source/__history/2of5.c.~1~
Zint/Source/__history/aztec.c.~1~
Zint/Source/__history/aztec.c.~2~
Zint/Source/__history/aztec.c.~3~
Zint/Source/__history/aztec.c.~4~
Zint/Source/__history/aztec.c.~5~
Zint/Source/__history/code128.c.~1~
Zint/Source/__history/composite.c.~1~
Zint/Source/__history/dmatrix.c.~1~
Zint/Source/__history/gridmtx.c.~1~
Zint/Source/__history/gridmtx.c.~2~
Zint/Source/__history/gs1.c.~1~
Zint/Source/__history/library.c.~1~
Zint/Source/__history/library.c.~2~
Zint/Source/__history/library.c.~3~
Zint/Source/__history/library.c.~4~
Zint/Source/__history/maxicode.c.~1~
Zint/Source/__history/png.c.~1~
Zint/Source/__history/png.c.~2~
Zint/Source/__history/png.c.~3~
Zint/Source/__history/postal.c.~1~
Zint/Source/__history/qr.c.~1~
Zint/Source/__history/rss.c.~1~
Zint/Dependencies/Zlib/__history/Zlib.cbproj.local.~1~
Zint/Dependencies/Zlib/__history/Zlib.cbproj.local.~2~
Zint/Dependencies/Zlib/__history/Zlib.cbproj.local.~3~
Zint/Dependencies/Zlib/__history/Zlib.cbproj.local.~4~
Zint/Dependencies/Zlib/__history/Zlib.cbproj.local.~5~
QRTest/d2010/dll/__history/main.c.~1~
